	body{
	  margin: 0;
	  color: #6a6f8c;
	  background-color:#0F46A4;
	  background-size: cover;
	  font: 600 16px/18px 'Open Sans', sans-serif;
	  justify-content: center;
	}
	
	li{list-style: none;}
	
	.navi {
	    background-color: white;
	    padding: 10px;
	    text-align: center;
	    margin-bottom:50px;
	}
	.navi a {
	    margin-right: 10px;
	    text-decoration: none;
	    color: #007bff;
	}
	#projTitle{
		color:white;
		margin: 30px;
	}
	
	#blogTitle{
		color:white;
		text-align:center;
		width:25% ;
		margin: 0 auto;
	}

	#search_block > form > a > img{
		height:38px;
		margin:0 auto;
	}
	#search-container {
		width:30%;
		height:70px;
		border: 1px solid white;
		border-radius:20px;
		background-color: white;
	    text-align: center;
	    margin-left: auto; /* 우측에 정렬 */
    	margin-right: 30px; /* 좀 띄워주기 위해 오른쪽 마진 추가 */
	    display: flex;
	    flex-direction: column;
        justify-content: center; /* 수직 중앙 정렬 */
	    align-items: center; /* 수평 중앙 정렬 */
	}
	#search_block{
		width: 95%;
		display: flex;
		flex-wrap: nowrap; /* 줄 바꿈 방지 */
	}
	#search_block > form{
		margin-left:10px;
		width: 95%;
	}
	#search-box {
	    padding: 10px;
	    width: 50px;
	    font-size: 16px;
	    
        display: inline-block;
    	width: 70%; /* 조절 가능한 너비 */
	}
	#search-box::placeholder {
    	text-align: center;
	}
	.dropdown-menu > a > img{
		width:35px;
		height:35px;
	}
	#city{
		text-align: center;
	}
	#city .city-row {
	    display: flex;
	    justify-content: space-around; /* 또는 justify-content: space-around; */
	    margin: 15px;
	}
	#city .city-row > div{
		width:25%;
	}
	.citiesImg{
		margin: 30px;
		width: 80%;
		height: 225px; 
	}
	.cityimg{
		background-color:white;
		margin-left:5px;
		margin-right:5px;
		border: 2px solid gray;
		border-bottom:none;
		border-radius: 10px 10px 0 0;
	}
	.cityname{
		background-color:white;	
		margin-left:5px;
		margin-right:5px;
		border: 2px solid gray;
		border-top:none;
		border-radius: 0 0 10px 10px;
	}
	li{
		list-style: none;
	}
	#blog-container {
		background-color: white;
		width:95%;
		margin:0 auto;
		padding: 20px;
		text-align:center;
		border:1px solid white;
		border-radius: 20px;
	}
	.blog-con{
	   	display: flex;
		overflow-x: auto; /* 수평 스크롤을 허용 */
		white-space: nowrap; /* 텍스트 줄바꿈 방지 */
	}
