@charset "UTF-8";
*{margin:0; padding:0;}
a{text-decoration: none;}
a:visited{color: black;}
.cursor{cursor: pointer;}
header{position: relative;}
header #top{padding:10px 0; height:20px; width:100%; position:relative;}
header #top .profile{position:absolute; right: 5%;}
#topbg{width:100%; height: 220px; background: #52DCD1; margin-bottom: 14px;}
header #topcenprowrap{width: 100%; height: auto;}
header #topcenpro{
    width: 100%; height: auto; text-align: center; margin-bottom: 44px;
}
header #topcenpro p.profile_img span{
    width: 100px; border-radius: 50%; height: 100px; line-height: 100px; display: inline-block;
}
header #topcenpro p.profile_img span img{height: 100px;}
header #topcenpro p.username{margin: 12px 0;}
header #topcenpro p.username span{font-size: larger;}
header #topcenpro p.profilemanage span{font-weight: 600;}
header #topcenpro p.profilemanage span a:visited{color: blue;}


main{width: 100%;}
main #wrap{padding: 0 25%; display: flex; justify-content: center;}
main #wrap .category{
    display: flex;
    padding-bottom: 80px;
}
main #wrap #innerwrap{width: 100%;}
main #wrap #innerwrap #myschedulewrap{display: block;}
main #wrap .category div{width: 50%}
main #wrap #innerwrap .myschedule{font-size: x-large; font-weight: 800; margin: 21px 0;}
main #wrap #innerwrap .myschedule2{padding-bottom: 50px;}
main #wrap #innerwrap .myschedule2 span:first-child{margin-right: 19px;}
main #wrap #innerwrap .myschedule2 span:last-child{float: right;}

main div#noplan{
	width:100%; height:150px; line-height: 150px;
	font-size: 20px;
	text-align: center;
}


main #section #schedule{display: flex; height: auto; margin-bottom: 33px;}
main #section #schedule .schedule_img{
    width: 25%; text-align: center; background-color: gainsboro; margin-right: 1px;
    height: 175px; line-height: 175px;
}
main #section #schedule .schedule_content{
    width: 75%; background-color: gainsboro; margin-left: 1px; font-size: 12px;
    padding: 14px; position: relative;
}
main #section.sha_sche #schedule .schedule_content,main #section.sha_sche #schedule .schedule_img{
    background: #8de45b;
}
main #section #schedule .schedule_content p{padding: 4px 0;}
main #section #schedule .schedule_content .d_day{
    margin-right: 24px;
}
main #section #schedule .schedule_content p.schename{
    font-size: 20px; padding: 24px 0;
}
main #section #schedule .schedule_content p span.writeday{
    float: right; 
}
main #section #schedule .schedule_content p.schewritter{
    float: right;
}

#hamburger{
    position: absolute; right: 7px; top: 45%; z-index: 10;
}
#hamburger span{
    background: black; width: 5px; height: 5px; border-radius: 50%; display: block;
}
#hamburger span:nth-of-type(2){
    margin: 2px 0;
}

#hamburger_content{
    display: none;
    background: #fff;
    position: absolute; right: -65px; top: 35%;
    outline: 2px solid #000;
    font-size: 18px;
    padding: 10px;
}
#hamburger_content p{
    margin: 5px 0;
    padding: 4px 0;
}
#hamburger_content p{
    cursor: pointer;
}
select{border: none; 
	-o-appearance: none;
  	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
}

main #mycitylist .citywrap{
	display:flex; padding: 5px; flex-wrap: wrap; width:100%; box-sizing: border-box;
}
main #mycitylist .citywrap div{
	    margin: 8px; background: lightgray; flex:22%; text-align: center; aspect-ratio: 1;
        border-radius: 5%; font-size:20px;
}