.no-close .ui-dialog-titlebar-close {
    display: none;
}
.ui-widget-overlay{
    position: fixed;
}
.custom-dialog{
    background-color: white;
}
body{
height: 100%;
width: 100%;
margin: 0;
padding:0;
}
.container {
display: flex;
flex-direction: row;
margin:0;
padding:0;
width: 100%;
height: 100%;
max-width:2400px;        
}
.container img {
width: 100%;
height: 100%;
object-fit: cover; /* 이미지 비율 유지 및 가득 채움 */
}
#sidebar {
flex : 1;
height: 100vh;
width: 100px;
background-color: white;
color: skyblue;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 20px;
padding-right: 10px;
}
#btn-step1{
color: skyblue;
opacity: 1;
font-size: 16px;
}
.traveld{
width: 250px;
height: 100px;
display: flex;

}
.travelimg{
margin-top: 8px;
margin-left: 12px;
margin-bottom: 8px;
margin-right: 8px;
width: 90px;
height: 90px;
}
.traveltext{
width: 88px;
height: 45px;
}
.linea{
width: 88px;
height: 20px;
font-size: 16px;
margin-top: 11px;
}
.lineb{
width: 88px;
height: 9px;
font-size: 8px;
}
.linec{
width: 88px;
height: 4px;
font-size: 4px;
}
.logo {
margin-bottom: 20px;
width: 150px; /* 濡쒓퀬 �겕湲� 議곗젅 */
}

.sidebar-button {
width: 100%;
padding: 10px;
margin-bottom: 10px;
background-color: white;
color : gray;
font-weight:bold;
text-align: center;
text-decoration: none;    
border: none;
cursor: pointer;
opacity: 0.5;
font-size: 12px;
}

.bottom-button {
 margin-top: auto;
 margin-bottom:10px;
 width: 80%;
 padding: 10px;
 background-color: #555;
 color: #fff;
 text-align: center;
 text-decoration: none;
 border: none;
 cursor: pointer;
}

#date{
display: flex;
}

.place-container {
display: flex;
justify-content: space-between; 
align-items: center; 
margin-bottom: 20px; 
}

#catButtons{
display:flex;
}

.place-details {
flex: 1;
margin-left: 10px;        
flex-direction: column; 
font-size: 13px;
}

.place-details > div {
margin-bottom: 5px;
}

.place-info{
display:flex;	
}

.place-icons{
display: flex;
align-items: center;
}

.places {
width: 300px; 
height: 621px; 
overflow-y: auto;
padding: 10px;
}

.modal{
    position: fixed;
    width: 600px;
    height: 600px;
    background: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

#calendar-modal{
	border-radius : 30px;
}

#second-frame{
margin-right: 10px;
min-width: 300px;
}

#second-frame-container{
height: 100%;
width: 100%;
}

#view{
width: 500px;
}

.basket-frame{
width: 400px;
}

#map{
flex:1;
}

#btn-skyscanner{
width: 100%;
}
.city,.selt,.sell{
    width: 80px;
    height: 80px;
}

table{
	width: 100%;
	border-collapse: collapse;
	margin-top: 20px;
}
tr, th{
	padding: 10px;
	text-align: center;
}
        
.calendar-table{
	width : 100%;
	height : 100%;
	margin : 10px;
}
.day-button, .arrow-button{
	background-color: white;
	border : none;
}
.confirm-button{
	disabled : true;
}