body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
}
.container {
    display: flex;
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    max-width:2400px;        
}
.container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 비율 유지 및 가득 채움 */
}
#sidebar {
    height: 100vh;
    width: 100px;
    background-color: white;
    color: skyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-right: 10px;
}
.traveld{
    width: 250px;
    height: 100px;
    display: flex;
   
}
.travelimg{
    margin-top: 8px;
    margin-left: 12px;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 90px;
    height: 90px;
}
.traveltext{
    width: 88px;
    height: 45px;


}
.linea{
    width: 88px;
    height: 20px;
    font-size: 16px;
    margin-top: 11px;
}
.lineb{
    width: 88px;
    height: 9px;
    font-size: 8px;
}
.linec{
    width: 88px;
    height: 4px;
    font-size: 4px;
}
.logo {
    margin-bottom: 20px;
    width: 150px; /* 濡쒓퀬 �겕湲� 議곗젅 */
}

.sidebar_button {
    width: 100%;
    border: 100px solid skyblue;
    border-radius:5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    font-weight:bold;
    text-align: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.bottom-button {
     margin-top: auto;
     margin-bottom:10px;
     width: 80%;
     padding: 10px;
     background-color: #555;
     color: #fff;
     text-align: center;
     text-decoration: none;
     border: none;
     cursor: pointer;
}
#search_frame{
    margin-right: 10px;
    width: 300px;
}	
table{
    width:100%;
}
th, td{
    border:1px solid;
    text-align: center;
}
li{
    list-style:none;
}
.place-container {
    display: flex;
    justify-content: space-between; /* 媛� �옄�떇 �슂�냼瑜� 理쒕��븳 �꼻寃� 諛곗튂�빀�땲�떎. */
    align-items: center; /* �옄�떇 �슂�냼瑜� �닔吏� 以묒븰 �젙�젹�빀�땲�떎. */
    margin-bottom: 20px; /* 媛� place-container �궗�씠�뿉 媛꾧꺽�쓣 二쇨린 �쐞�븳 留덉쭊 �꽕�젙 */
}
.place-img{
    width: 60px;
    height: 60px
}
.place-details {
    flex: 1;
    margin-left: 10px;        
    flex-direction: column; /* �꽭濡쒕줈 諛곗튂�븯�룄濡� �꽕�젙 */
    font-size: 13px;
}

.place-details > div {
    margin-bottom: 5px;
}

.place-info{
    display:flex;	
}

.place-icons{
    display: flex;
    align-items: center;
}
.place-icons>div{
    margin-rigth: 5px;
}

.places {
    width: 300px; /* �썝�븯�뒗 媛�濡� �겕湲� 吏��젙 */
    height: 621px; /* �썝�븯�뒗 �꽭濡� �겕湲� 吏��젙 */
    overflow-y: auto; /* �꽭濡� �뒪�겕濡ㅻ컮 �솢�꽦�솕 */
    padding: 10px; /* �궡�슜怨� �뀒�몢由� �궗�씠�쓽 媛꾧꺽 */
}

.hotel-container {
    display: flex;
    justify-content: space-between; /* 媛� �옄�떇 �슂�냼瑜� 理쒕��븳 �꼻寃� 諛곗튂�빀�땲�떎. */
    align-items: center; /* �옄�떇 �슂�냼瑜� �닔吏� 以묒븰 �젙�젹�빀�땲�떎. */
    margin-bottom: 20px; /* 媛� place-container �궗�씠�뿉 媛꾧꺽�쓣 二쇨린 �쐞�븳 留덉쭊 �꽕�젙 */
}
.hotel-img{
    width: 60px;
    height: 60px
}
.hotel-details {
    flex: 1;
    margin-left: 10px;        
    flex-direction: column; /* �꽭濡쒕줈 諛곗튂�븯�룄濡� �꽕�젙 */
    font-size: 13px;
}

.hotel-details > div {
    margin-bottom: 5px;
}

.hotel-info{
    display:flex;    	
}

.hotel-icons{
    display: flex;
    align-items: center;
}
.hotel-icons>div{
    margin-rigth: 5px;
}

.hotels {
    width: 300px; /* �썝�븯�뒗 媛�濡� �겕湲� 吏��젙 */
    height: 621px; /* �썝�븯�뒗 �꽭濡� �겕湲� 吏��젙 */
    overflow-y: auto; /* �꽭濡� �뒪�겕濡ㅻ컮 �솢�꽦�솕 */
    padding: 10px; /* �궡�슜怨� �뀒�몢由� �궗�씠�쓽 媛꾧꺽 */
}
.modal{
    position:absolute;
    width:100%; height:100%;
    background: white;
    top:0; left:0;
    display:none;
}
.wrap-search-frame{
    height: 100%;
    width: 100%;
    display: flex;
}
.basket-frame{
    width: 400px;
}