.container{
    flex: 1;
    display: flex;

}
button{
    border-radius: 6px;
    opacity: 0.55;
}
.sidebar{
width: 78px;
height: 734px;
column-gap: 25px;
font-size: 14px;
}
.sidebtn1{
    margin-top: 25px;
}
.sidebtn1,.sidebtn2,.sidebtn3{
    width: 78px;
    height: 46px;
    margin-bottom: 25px;
}
.content{
    width: 270px;
    height: 734px;
}
.sel{
    width: 270px;
    height: 734px;

}
.container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* 이미지 비율 유지 및 가득 채움 */
}
.map{
width: 958px;
height: 734px;
}
.btndiv{
    display: flex;
}
.selbtn{
    width: 93px;
    height: 23px;
    font-size: 8px;

}
.rebtn{
    width: 103px;
    height: 23px;
    font-size: 8px;
}
.traveld{
    width: 197px;
    height: 61px;
    display: flex;
   
}
.travelimg{
    margin-top: 8px;
    margin-left: 12px;
    margin-bottom: 8px;
    margin-right: 8px;
    width: 49px;
    height: 45px;
}
.traveltext{
    width: 88px;
    height: 45px;


}
.linea{
    width: 88px;
    height: 20px;
    font-size: 16px;
    margin-top: 11px;
}
.lineb{
    width: 88px;
    height: 9px;
    font-size: 8px;
}
.linec{
    width: 88px;
    height: 4px;
    font-size: 4px;
}
.cbtn1,.cbtn2,.cbtn3,.cbtn4{
    font-size: 8px;
}