@charset "UTF-8";
li{list-style: none;}
a{text-decoration: none; display: inline-block;}
a:visited{color: black;}
#top{display:flex; justify-content: space-between; align-items: center; padding: 0 17px;}
#top div{flex:1; font-size: 1.1em;}
#topbg{width:100%; height: 150px; background: #52DCD1; margin-bottom: 14px;}
#topL img{width:80px;}
#navi ul{display: flex; justify-content: center;}
#navi ul li{padding: 0 40px;}
#navi ul li a{text-align: center;}
#topR{text-align: right;}
#topR a:first-child{margin-right: 28px;}