<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
	<typeAlias type="com.bn.model.PlanVo" alias="Plan"/>
	<!-- <typeAlias type="com.bn.model.ContentVo" alias="Content"/> -->
	<typeAlias type="com.bn.model.PostVo" alias="Post"/>
</typeAliases>

<mappers>
	<mapper resource="config/mapper/PlanMapper.xml"/>
	<!-- <mapper resource="config/mapper/ContentMapper.xml"/> -->
	<mapper resource="config/mapper/PostMapper.xml"/>
</mappers>
</configuration>
