<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<typeAliases>
	<typeAlias type="com.bn.model.PlanVo" alias="Plan"/>
	<typeAlias type="com.bn.model.ContentVo" alias="Content"/>
	<typeAlias type="com.bn.model.DtailPlanVo" alias="Dplan"/>
	<typeAlias type="com.bn.model.CityVo" alias="City"/>
	<typeAlias type="com.bn.model.MemberVo" alias="Member"/>
	<typeAlias type="com.bn.model.PostVo" alias="Post"/>
	<typeAlias type="com.bn.model.PageVo" alias="Page"/>
	<typeAlias type="com.bn.model.ReplyVo" alias="Reply"/>
</typeAliases>

<mappers>
	<mapper resource="config/mapper/PlanMapper.xml"/>
	<mapper resource="config/mapper/ContentMapper.xml"/>
	<mapper resource="config/mapper/SignupMapper.xml"/>
	<mapper resource="config/mapper/MainMapper.xml"/>
	<mapper resource="config/mapper/PostMapper.xml"/>
	<mapper resource="config/mapper/ReplyMapper.xml"/>
	<mapper resource="config/mapper/InfoMapper.xml"/>
	<mapper resource="config/mapper/MemberMapper.xml"/>
</mappers>
</configuration>