<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- src/main/resources/mapper/com/bn/mapper/CityMapper.xml -->
<mapper namespace="com.bn.mapper.CityMapper">
    <select id="getAllCities" resultType="City">
        SELECT * FROM CITY
    </select>
    
    <select id="getCityById" resultType="City" parameterType="string">
        SELECT * FROM CITY WHERE CITYID =#{cityId}
    </select>
</mapper>
