<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bn.mapper.ContentMapper">
	<insert id="insertdb" parameterType="Content">
	INSERT INTO content (
    	contentid, contenttypeid, code, title, tel, addr, firstimage, mapx, mapy
	) VALUES (
    	#{contentid}, #{contenttypeid}, #{code}, #{title}, #{tel},
    	#{addr}, #{firstimage}, #{mapx}, #{mapy}
	)
	</insert>
	
	<select id="searchInRange" parameterType="map" resultType="Content">
	SELECT * FROM content WHERE mapx BETWEEN #{mapx}-0.24 AND #{mapx}+0.24 AND mapy BETWEEN #{mapy}-0.18 AND #{mapy}+0.18
	<if test="ctype !=null and ctype!=0">
	and contenttypeid=#{ctype}
	</if> 
	<if test="cat !=null">
	and code=#{cat:VARCHAR}
	</if>
	<if test="cat==null and ctype==null">
	and contenttypeid in ('12','14','15','25','28')
	</if> 
	</select>
	<select id=""></select>
</mapper>
