<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bn.mapper.LoginMapper">
	<select id="loginCheck" parameterType="Member" resultType="int">
    SELECT COUNT(*) FROM MEMBER
    WHERE M_EMAIL = #{M_EMAIL} AND M_PWD = #{M_PWD}
</select>

<select id="loginCheck2" parameterType="Member" resultType="string">
    SELECT M_NNAME FROM MEMBER
    WHERE M_EMAIL = #{M_EMAIL} AND M_PWD = #{M_PWD}
</select>

<update id="tempPass" parameterType="Map">
    UPDATE MEMBER
    SET M_PWD = #{temppass}
    WHERE M_EMAIL = #{userEmail} 
</update>



</mapper>