<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bn.mapper.MypageMapper">
	<select id="getProfile" resultType="Member" parameterType="String">
		select * from member
		where M_NNAME = #{m_nname}
		
	</select>
	
	<select id="getPlanList" resultType="Mypage" parameterType="Mypage">
		select * from (
	    select pl.*, (select min(dp_start) from detail_planner where pl.p_id = p_id) dp_start,
	    (select max(dp_end) from detail_planner where pl.p_id = p_id) dp_end
	    from planner pl) where m_id = #{m_id}
	    <if test="filter == 'recentday1'">
    		order by p_moddate asc
	    </if>
	    <if test="filter == 'recentday2'">
    		order by p_moddate desc
	    </if>
	    <if test="filter == 'travelday1'">
    		order by dp_start asc
	    </if>
	    <if test="filter == 'travelday2'">
    		order by dp_start desc
	    </if>
	    
	</select>
	
	
	
</mapper>