<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bn.mapper.MypageMapper">
	<select id="getProfile" resultType="Member" parameterType="String">
		select * from member
		where M_NNAME = #{value}
		
	</select>
	
	<select id="getPlanList" resultType="Mypage" parameterType="long">
		select pl.*, (select dp_start from detail_planner where pl.p_id = p_id) dp_start,
        (select dp_end from detail_planner where pl.p_id = p_id) dp_end
        from planner pl where m_id = #{value}
	</select>
	
	
	
</mapper>