<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bn.mapper.PlanMapper">

	<insert id="insert" parameterType="Plan">
	insert into planner values(#{p_id},#{m_id},#{p_name},sysdate,sysdate)
	</insert>
	
	<select id="selectPlan" parameterType="_int" resultType="Plan">
	 	select * from planner where p_id=#{p_id} 
	</select>
	
	<select id="selectAll" parameterType="_int" resultType="Plan">
		select * from planner where m_id=#{m_id}
	</select>
	
	<insert id="insertDp" parameterType="Dplan">
	insert into detail_planner values(#{dp_id},#{p_id},#{contentid},#{dp_day},#{dp_start},#{dp_end},#{dp_num})
	</insert>
	
	<select id="dpretrieve" resultType="Dplan">
	select * from detail_planner where p_id=#{p_id}
	</select>
	<delete id="deleteByCondition" parameterType="_int">
    DELETE FROM Planner
    WHERE p_id = #{p_id};
	</delete>
	
	<select id="cityloc" parameterType="string" resultType="City">
	select * from city where cityname=#{cityname}
	</select>
	
	
</mapper>