<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bn.mapper.PostMapper">

<select id="getList" resultType="post">
	<![CDATA[
	select * from post where p_id > 0
	]]>	
</select>


<insert id="postInsert" parameterType="post">
		INSERT INTO post (p_id, p_title, p_content)
    	VALUES (#{p_id}, #{p_title}, #{p_cotent})
</insert>

<select id="postRead" resultType="post">
	select * from post where p_id = #{p_id}
</select>

<delete id="postDelete">
	delete from post where p_id = #{p_id}
</delete>

<update id="modPost">
	update post
	set p_title = #{p_title},
	p_content = #{p_content},
	p_moddate = sysdate
	where p_id = #{p_id}
	
</update>

</mapper>