<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bn.mapper.ReplyMapper">

	<insert id="insert">
		INSERT INTO reply (r_id, m_id, p_id, r_content, r_credate, r_moddate, r_status)
		values (SEQUENCE_REPLY.nextval, #{m_id}, #{p_id}, #{r_content}, sysdate, sysdate, 1)
	</insert>

	<select id="read" resultType="Reply">
		SELECT reply.*
		, member.m_image
		, member.m_nname
		FROM reply
		FULL OUTER JOIN member ON reply.m_id = member.m_id
		WHERE reply.r_id = #{r_id}
	</select>

	<delete id="delete">
		delete from reply
		wherer_id = #{r_id}
	</delete>

	<update id="update">
		update reply
		set reply = #{r_content}
		, r_moddate = sysdate 
		where r_id = #{r_id}
	</update>
	
	<select id="getList" resultType="Reply">
		SELECT reply.*
		, member.m_image
		, member.m_nname
		FROM reply
		FULL OUTER JOIN member
		ON reply.m_id = member.m_id
		WHERE reply.p_id = #{p_id} 
		order by r_id asc
	</select>
	
	<select id="searchPid" parameterType="String" resultType="_int">
		SELECT M_ID from MEMBER 
		WHERE M_EMAIL = #{userEmail}
	</select>
	
</mapper>
