<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bn.mapper.SignupMapper">
	<insert id="signup" parameterType="Member">
    INSERT INTO MEMBER (M_ID, M_EMAIL, M_PWD, M_GEN, M_NNAME, M_BIRTH, M_RDATE, M_IMAGE, M_STATUS, M_PROFIL)
    VALUES (SEQUENCE_MEMBER.nextval, #{M_EMAIL}, #{M_PWD}, #{M_GEN}, #{M_NNAME}, #{M_BIRTH}, sysdate, null, 1, 1)
    </insert>
	<select id="checkEmail" parameterType="Member" resultType="int">
		    select count(*)
		    FROM MEMBER WHERE M_EMAIL=#{M_EMAIL}
	</select>
	
	<select id="returnPass" parameterType="Member" resultType="String">
		    select M_PWD
		    FROM MEMBER WHERE M_EMAIL=#{M_EMAIL}
	</select>


</mapper>